.registration-container {
  max-width: 500px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #333;
}

input[type='textt'],
input[type='emaill'],
input[type='tel'],
input[type='number'],
input[type='password'] {
  padding: 10px;
  margin: 14px 0;
  width: 310px;
  box-sizing: border-box;
  border: 1px solid #ff0000;
  border-radius: 4px;
}

.submitt {
  color: #000000;
  border: none;
  cursor: pointer;
  width: 50%;
}

.submit-button:hover {
  background-color: #ff0000;
}
