
.about-body {
    background-color: white;
    margin-top: 40px;
  }
  
  /* Style for the heading */
  .about-heading {
    color: rgb(0, 183, 193);
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  /* Style for paragraphs */
  .about-paragraph {
    margin-bottom: 15px;
    margin-right: 90px;
    padding-top: 50px;
    font-size: 1.2rem;
  }
  
  /* Style for the unordered list */
  .about-list {
    text-align: justify;
    font-size: 1.2rem;
    margin-bottom: 100px;
  }
  
  /* Style for list items */
  .about-list-item {
    list-style-type: circle;
    margin-left: 600px;
    margin-bottom: 5px;
  }
  
  /* Style for links */
  .about-link {
    color: blue;
    text-decoration: underline;
  }
  
  /* Style for link hover */
  .about-link:hover {
    color: darkblue;
  }
  